@charset "utf-8";
/* CSS Document */
/* Style for rotation blocker overlay */
* {
    -webkit-overflow-scrolling: touch;
}


.TitleStyle *{
    font-family:'IBM Plex Sans',Arial !important;
    }
    
    .course_title{
    line-height:1.050 !important;
    }

    button span {
      font-family:'IBM Plex Sans',Arial !important;
      }  
    
    @font-face {
      font-family: "IBM Plex Sans Light";
      src: url("fonts/IBM-Plex-Sans-300.woff2") format("woff2"), url("fonts/IBM-Plex-Sans-300.woff") format("woff");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: "IBM Plex Sans";
      src: url("fonts/IBM-Plex-Sans-Regular.woff2") format("woff2"), url("fonts/IBM-Plex-Sans-Regular.woff") format("woff");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: "IBM Plex Sans Bold";
      src: url("fonts/IBM-Plex-Sans-700.woff2") format("woff2"), url("fonts/IBM-Plex-Sans-700.woff") format("woff");
      font-weight: 300;
      font-style: normal;
    }
/*Ends here*/